<% layout("/layouts/boilerplate") %>

<body>
<div class="row mt-3">
<div class="col-md-8 offset-md-2">
    <h3 class="mb-3">Create a new Listing</h3>
<form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" placeholder="Add title" type="text"  class="form-control" required>
    <div class="invalid-feedback">Please enter title!</div>
    <div class="valid-feedback">Title looks Good!</div>
 </div>
 <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="Add description" type="text" class="form-control" required></textarea>
    <div class="invalid-feedback">Please enter some Description!</div>
 </div>
 <!-- <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input name="listing[image]" placeholder="Add img link" type="text" class="form-control" >
 </div> -->
 <div class="mb-3">
    <label for="image" class="form-label">Upload Listing Image</label>
    <input name="listing[image]" type="file" class="form-control" required >
 </div>

 <div class="row mb-3">
    <div class="col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Add price" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid Price!</div>
    </div>
    <div class="col-md-8 ">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="Add country" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter the Country name!</div>
    </div>
</div>

<div class="mb-4">
    <label for="location" class="form-label">Location</label>
    <input name="listing[location]" placeholder="Add location" type="text" class="form-control" required>
    <div class="invalid-feedback">Please enter the location!</div>
 </div>
 <button class="btn btn-primary add-btn mb-4">Add</button>

</form>
</div>
</div>

    <!-- <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text">
        <br><br>
        <textarea name="listing[description]" placeholder="enter description" type="text"></textarea>
        <br><br>
        <input name="listing[image]" placeholder="enter img link" type="text">
        <br><br>
        <input name="listing[price]" placeholder="enter price" type="number">
        <br><br>
        <input name="listing[location]" placeholder="enter location" type="text">
        <br><br>
        <input name="listing[country]" placeholder="enter country" type="text">
        <br><br>
        <button>Add</button>
    </form> -->
</body>
